#create-ad-form .input-text {
    padding: 20px;
    height: 30px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px -15px var(--dark-blue);
}

#create-ad-form .input-text:focus {
    box-shadow: 2px 2px 20px -10px var(--dark-blue);;
}


#create-ad-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-elements {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-elements button {
    border: 0;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--orange-yellow);
    color: var(--white);
    font-size: x-large;
    font-weight: normal;
    cursor: pointer;
}
