@import "main_page_header.css";
@import "hero_section.css";
@import "top_companies.css";
@import "site_details.css";
@import "find_jobs.css";
@import "common/button.css"; 

@font-face {
    font-family: roboto-slab;
    src: url(/assets/fonts/RobotoSlab-VariableFont_wght.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: roboto-slab;
}

a {
    cursor: pointer;
}

h1 {
    margin: 0;
}

